html {
    scroll-behavior: smooth;
}


body {
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
}

h2 {

    font-weight: normal;
    color: #1B1B1B;
}

p {

    font-size: 18px;
    color: #000000
}

a, button {
    transition: 1s;
}

a {
    text-decoration: none;
}

.top-bar {
    height: 71.05px;
    width: 100%;
    background: #FFFFFF;
    position: relative;
}

.box-white {
    width: 36px;
    height: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: block;
    background: #FFFFFF;
    position: absolute;
    bottom: -19px;
}

header {
    padding: 60px 0px 50px 0px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.social-icon {
    margin-right: 180px;
}

.menu-btn-top {
    position: absolute;
    top: 80px;
    right: 130px;
    z-index: 6;
}

a.menu-btn {
    position: fixed;
    top: 110px;
    right: 130px;
    font-weight: 800;
    font-size: 12px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: #fff;
    background: rgb(255 255 255 / 25%);
    text-align: center;
    line-height: 100px;
    display: block;
}

a.menu-btn:hover .info {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.info {

    background-color: #fff;
    color: #000;
}


.info {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.menu-btn.active::before {
    transform: rotate(405deg);
    background-color: #211e1e;
    color: #FFF;
    opacity: 1;
}

.menu-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "+";
    width: 100%;
    opacity: 0;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    /* line-height: 50px; */
    font-size: 53px;
    font-weight: 100 !important;
    font-family: serif;
    transition-duration: 500ms;
}

.menu-btn.active {
    color: rgb(255 255 255 / 25%)
}

.menu-btn.active span {
    color: transparent;
}

.menu-btn.active:hover span:before {
    transform: rotate(405deg);
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    right: 0;
    content: "+";
    width: 100%;
    /* opacity: 0; */
    height: 100%;
    border-radius: 100%;
    font-size: 53px;
    font-weight: 100 !important;
    font-family: serif;
    transition-duration: 1000ms;
}

.menu-container {

    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh + 329px);
    width: 100%;
    z-index: -5;
    padding-left: 160px;
    opacity: 0;
    transition: opacity 800ms;
    display: flex;
    /* justify-content: center; */

}

.menu-container.active::before {
    content: '';
    background: url(../../assets/img/bg-menu.svg) bottom -59px left 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.3;

}

.overlay {
    position: fixed;
    top: 110px;
    right: 129px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #000;
    transition-duration: 800ms;
    z-index: 4;
}

.overlay.active {
    transform: scale(100, 100);
}

.menu-container .menu-wrapper {
    list-style: none;
}

.dot {
    background: rgba(255, 255, 255, 0.8);
    width: 12px;
    height: 12px;
    display: block;

}

.menu-container .menu-wrapper li {

    display: flex;
    justify-content: left;
}

.menu-container .menu-wrapper li a {
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 100px;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.4px #FFF;
    transition-duration: 200ms;
    position: relative;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    transform: translateX(-100%);
}

.inner {
    display: inline-block;
    transform: translateX(100%);
}

.outer, .inner {
    transition: transform 0.5s cubic-bezier(0.50, 0.73, 0.74, 1.02);
}

.menu-wrapper li a:hover .outer,
.menu-wrapper li a:hover .inner {
    transform: none;
}

[data-animation="to-top"] .outer {
    transform: translateY(100%);
}

[data-animation="to-top"] .inner {
    transform: translateY(-100%);
}

.dots {
    position: absolute;
    top: -14%;
    left: -122px;
    /* float: right; */
    width: 90px;
    text-align: end;
}

.dot1 {
    background: #fff;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
}

.dot2 {
    background: rgba(255, 255, 255, 0.8);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
}

.menu-container .menu-underlay {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgb(15, 170, 50);
}

.menu-container.active {
    transition-delay: 0ms;
    opacity: 1;
    z-index: 5;
    overflow: hidden;
}

.container-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-content div {
    font-size: 150vmin;
    font-weight: 700;
}

.container-content div span {
    font-size: 40px;
    font-weight: 400;
}

.hg {
    height: 1500px;
}

.banner-tag {
    font-weight: 800;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.banner-heading {
    font-family: 'Amaranth', sans-serif;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.4px #FFF;
    transition-duration: 200ms;
    font-weight: bold;
    font-size: 80px;
    position: relative;
}

.banner-heading:hover .outer,
.banner-heading:hover .inner {
    transform: none;
}

.sec-banner {


    position: relative;
}

.sec-banner:before {
    content: "";
    position: absolute;
    background: url(../../assets/img/dotstop.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 17px;
    height: 120px;
    left: 49.6%;
    top: -88px;
}

.sec-banner:after {
    content: "";
    position: absolute;
    background: url(../../assets/img/dotstop.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 17px;
    height: 120px;
    left: 49.6%;
    bottom: 50px;
    top: auto;
}

a.btn-arrow {
    text-align: center;
    margin: auto;
    color: #000;
    font-size: 25px;
}

.img-a {
    width: 71%;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.sec-a {
    position: relative;
}

.sec-a:before {
    content: "";
    position: absolute;
    background: url(../../assets/img/15.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 357px;
    right: 112px;
    bottom: 60px;
    opacity: 0.2;
}

.sec-l {
    position: relative;
}

.sec-l:before {
    content: "";
    position: absolute;
    background: url(../../assets/img/30.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 350px;
    left: 112px;
    bottom: 80px;
    opacity: 0.2;
}

.img-l {
    width: 50%;
}

.sec-t {
    position: relative;
}

.sec-t:before {
    content: "";
    position: absolute;
    background: url(../../assets/img/15.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 357px;
    right: 112px;
    bottom: 100px;
    opacity: 0.2;
}

.img-t {
    width: 70%;
}

.sec-aa {
    position: relative;
}

.sec-aa:before {
    content: "";
    position: absolute;
    background: url(../../assets/img/40.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 357px;
    left: 112px;
    bottom: 60px;
    opacity: 0.2;
}

.title-tag {
    font-weight: 800;
    font-size: 45px;
    color: #fff;
    margin-bottom: 130px;
    position: relative;
}

.sec-testmonial {
    padding: 150px 0px 80px 0px;
}

.testmonial-slider {
    padding-top: 140px;
}

.wrapper .title:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 10px;
    background: #fff;
    border-radius: 50px;
    bottom: -33px;
    opacity: 0.2;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}


.wrapper .team-cards .swiper-slide {
    background-color: white;
    width: auto !important;
    height: 360px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px #edeef4;
    position: relative;
    transition: all 0.4s ease;
}

.wrapper .team-cards .swiper-slide:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 20px 40px -20px #eaeaea;
    top: 0px;
    z-index: -1;
    transition: all 0.4s ease;
}

.card {
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card .bg {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    border-radius: 4px 4px 0px 0px;
    transition: all 0.4s ease;
    background: #4294c2;
    z-index: 1;
}

.card .more {
    width: 24px;
    height: 24px;
    background: #000000;
    position: absolute;
    z-index: 7;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.4s ease;
    border-radius: 100%;
}

.wrapper .card .more:before, .card .more:after {
    width: 16px;
    height: 2px;
    background-color: white;
    content: '';
    position: absolute;
    border-radius: 4px;
    transition: all 0.4s ease;
}

.wrapper .card .more:after {
    transform: rotate(90deg);
}

.wrapper .card .more:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.wrapper .card .photo {
    width: 50%;
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 40px;
    border: 3px solid #fff;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
}

.wrapper .card .photo:before, .wrapper .card .photo:after {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    content: '';
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;
    left: 0;
    top: 0;
}

.wrapper .card .photo:before {
    background: #403e3e;
    z-index: 1;
}

.wrapper .card .photo:after {
    background: linear-gradient(140deg, #ffffff, #dcdcdc);
    z-index: 2;
}

.wrapper .card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper .card .text {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translateY(70px);
    transition: all 0.3s ease;
}

.wrapper .card .text .name {
    font-size: 20px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    font-weight: 600;
}

.wrapper .card .text .role {
    font-weight: 300;
    font-size: 17px;
    text-align: center;

    color: #000000;
}

.nick {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9B9A9A;
}

.wrapper .card .text .desc {
    color: #0a83ff;
    display: none;
    margin-top: 41px;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 0 31px;
    font-weight: 300;
    line-height: 22px;
}

.wrapper .card .social {
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255 / 50%);
    /* box-shadow: inset 0px 11px 13px -20px #6f7073; */
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    transition: all 0.4s ease;
}

.wrapper .card .social .pointer {
    display: block;
    width: 10px;
    height: 10px;
    z-index: 2;
    bottom: 50px;
    position: absolute;
    transform: translateX(25px);
    transition: all 0.4s ease;
    opacity: 0;
}

.wrapper .card .social .pointer:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
}

.wrapper .card .social .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .card .social .icons .icon {
    width: 20%;
    height: 24px;
    transition: all 0.4s ease;
}

.wrapper .card .social .icons .icon:hover {
    opacity: 0.6;
}

.wrapper .card .social .icons .icon img {
    width: 100%;
    height: 100%;
}

.wrapper .card .social:hover .pointer {
    opacity: 1;
    bottom: 45px;
}

.wrapper .swiper-slide:hover {
    transform: translateY(3px);
}

.wrapper .swiper-slide:hover:before {
    box-shadow: 0px 10px 10px -10px #eaeaea;
}

.wrapper .swiper-slide:hover .card .photo {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(111, 112, 115, 0.3);
}

.wrapper .swiper-slide.show-more .card {
    overflow: hidden;
}

.wrapper .swiper-slide.show-more .card .more {
    transform: rotate(45deg) scale(1);
}

.wrapper .swiper-slide.show-more .card .more:hover {
    transform: rotate(45deg) scale(1.1);
}

.wrapper .swiper-slide.show-more .card .social {
    transform: translateY(55px);
}

.wrapper .swiper-slide.show-more .card .text {
    color: white;
    transform: translateY(0px);
    transition: all 0.6s ease;
}

.wrapper .swiper-slide.show-more .card .text .name, .wrapper r .swiper-slide.show-more .card .text .role {
    color: black;
}

.wrapper .swiper-slide.show-more .card .text .desc {
    display: block;
}

.wrapper .swiper-slide.show-more .card .photo {
    width: 100%;
    height: 100%;
    top: 0px;
    border: solid 0px transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(111, 112, 115, 0);
    transform: translateY(0px);
    transition: all 0.4s ease;
}

.wrapper .swiper-slide.show-more .card .photo:before {
    height: 100%;
    opacity: 0.5;
}

.wrapper .swiper-slide.show-more .card .photo:after {
    height: 100%;
    opacity: 0.8;
    border-radius: 4px;
}

.wrapper .swiper-slide.show-more .card .photo img {
    filter: grayscale(100%);
}

.wrapper .swiper-slide.show-more .card .photo:hover {
    transform: translateY(0px);
}

.wrapper .swiper-slide.show-more .card .bg {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.wrapper .swiper-slide.show-more .card .bg:before {
    opacity: 0.5;
}

.wrapper .swiper-slide.show-more .card .bg:after {
    opacity: 0.8;
}

.wrapper .swiper-pagination {
    bottom: 0;
    display: none;
}

.wrapper .swiper-pagination .swiper-pagination-bullet {
    background-color: #6f7073;
    margin: 0 5px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.wrapper .swiper-pagination .swiper-pagination-bullet:focus {
    outline: 0;
}

.wrapper .swiper-pagination .swiper-pagination-bullet-active {
    background: linear-gradient(140deg, #d45b7a, #fda576);
    width: 16px;
}

.wrapper .navigation {
    width: 1098px;
    height: 28px;
    position: absolute;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
    top: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .navigation .swiper-button-prev, .wrapper .navigation .swiper-button-next {
    width: 28px;
    height: 28px;
    background-position: center;
    transition: all 0.4s ease;
    top: 0;
    margin-top: 0;
}

.wrapper .navigation .swiper-button-prev:focus, .wrapper .navigation .swiper-button-next:focus {
    outline: none;
}

.wrapper .navigation .swiper-button-prev {
    background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-prev.svg");
    background-position-x: 5px;
    transform: translateX(5px);
}

.wrapper .navigation .swiper-button-prev:hover {
    transform: translateX(0px);
}

.wrapper .navigation .swiper-button-next {
    background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-next.svg");
    background-position-x: -5px;
    transform: translateX(-5px);
}

.wrapper .navigation .swiper-button-next:hover {
    transform: translateX(0px);
}


.form-heading {

    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.4px #FFF;
    transition-duration: 200ms;
    font-weight: normal;
    font-size: 72px;
    position: relative;
    display: inline-block;
}

.form-heading:hover .outer,
.form-heading:hover .inner {
    transform: none;
}

.title-form {
    width: 50%;
    margin: auto;
}

.form-content {
    font-weight: 800;
    font-size: 36px;
    color: #fff;
}

.top-title {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.form .form-control {
    background: #181818;
    border: 1px solid #FFFFFF;
    color: #fff;
    border-radius: 0px;
}

.form input.form-control {
    height: 40px;
}

.form .form-control::placeholder {
    color: #fff;
}

.form-control:focus {
    border-color: #FFFFFF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.form-select:focus {
    border-color: #FFFFFF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.form .form-select {
    background: url(../../assets/img/down.svg) top 16px right 15px, #181818;
    border: 1px solid #FFFFFF;
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    border-radius: 0px;
    height: 40px;
}

.btn-submit {
    font-weight: bold;
    font-size: 18px;
    padding: 13px 30px 8px 30px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    margin-left: auto;
}

.btn-submit:hover {
    color: #000;
    background-color: #fff;
}

.sec-form {
    padding: 250px 0px;
    background: url(../../assets/img/c1.svg) top -1px left 410px, url(../../assets/img/c2.svg) top 165px right 66px, url(../../assets/img/c3.svg) bottom 30px left 109px;
    background-repeat: no-repeat;
    background-size: auto;

}

.sec-tas {
    padding: 150px 0px;
    background: url(../../assets/img/circle.svg) top 20% left 15%, url(../../assets/img/react.svg) top right, url(../../assets/img/react.svg) bottom 50px left;
    background-repeat: no-repeat;
    background-size: auto;
}

.sec-tas h2 {
    font-weight: 800;
    font-size: 45px;
    color: #fff;
}

.sec-tas p {
    font-size: 45px;
    color: #fff;
}

.footer h2 {
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    margin-bottom: 20px;
}

.footer p {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

.list li a {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 7px;
}

.btn-blue {
    background: #0A84FF;
    display: block;
    width: 100%;
    border-radius: 0px;
    color: #fff;
}

.fs-16 {
    font-size: 16px !important;
}

.social-footer a {
    width: 50px;
    height: 50px;
    background: #fff;
    display: inline-block;
    border-radius: 50px;
}

.social-footer a {
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
}

.fs-14 {
    font-size: 14px !important;
}

footer {
    padding-top: 250px;
    position: relative;

}

footer:before {
    content: '';
    width: 100%;
    height: 200px;
    left: 0;
    top: 20px;
    right: 0;
    position: absolute;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
}

.footer:after {
    content: "";
    width: 36px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
}

.menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 21px;
    z-index: 101;
}

.menuBtn>span {
    background-color: #000;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
}

.menuBtn>span:after, .menuBtn>span:before {
    content: '';
    background-color: #000;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 200ms;
}

.menuBtn>span:after {
    top: -7px;
}

.menuBtn>span:before {
    bottom: -7px;
}

.menuBtn.act>span {
    height: 0;
}

.menuBtn.act>span:after, .menuBtn.act>span:before {
    background-color: #fff;
    top: 1px;
}

.menuBtn.act>span:after {
    transform: rotate(45deg);
}

.menuBtn.act>span:before {
    transform: rotate(-45deg);
}

.mainMenu {
    background-color: #181818;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
}

.mainMenu.act {
    opacity: 1;
    transform: scale(1);
}

.mainMenu.act ul li {
    opacity: 1;
    transform: translateX(0);
}

.mainMenu ul {
    display: table-cell;
    vertical-align: middle;
}

.mainMenu li {
    padding: 8px 0;
    transition: all 400ms 510ms;
    opacity: 0;
}

.mainMenu li:nth-child(odd) {
    transform: translateX(30%);
}

.mainMenu li:nth-child(even) {
    transform: translateX(-30%);
}

.mainMenu li:last-child {
    transform: none;
}

.mainMenu a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
}

.mainMenu a.suBtn {
    color: #fff;
}

.suBtn {
    background-color: blue;
    border-radius: 5px;
    padding: 10px 20px;
}

.gallery-title {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    margin-bottom: 60px;
}

.sec-gallery {
    padding: 80px 0px 150px 0px !important;
}

.padd-top {
    padding-top: 150px;
}

/*Responsive table*/
/*======
Media Queries
=======*/
/*========================*/


@media screen and (min-width: 2200px) {
    .sec-aa:before {
        left: 20%;
    }

    .sec-t:before {
        right: 20%;
    }

    .sec-l:before {
        left: 20%;
    }

    .sec-a:before {
        right: 20%;
    }

    .wrapper .card .text {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        transform: translateY(112px);
        transition: all 0.3s ease;
    }

    .wrapper .team-cards .swiper-slide {
        background-color: white;
        width: auto !important;
        height: 550px;
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 1px #edeef4;
        position: relative;
        transition: all 0.4s ease;
    }

}

@media screen and (max-width: 1200px) {
    .wrapper .card .text {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        transform: translateY(70px);
        transition: all 0.3s ease;
    }

    .wrapper .team-cards .swiper-slide {
        background-color: white;
        width: auto !important;
        height: 365px;
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 1px #edeef4;
        position: relative;
        transition: all 0.4s ease;
    }

}

@media screen and (max-width: 700px) {
    .wrapper .card .text {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        transform: translateY(80px);
        transition: all 0.3s ease;
    }

    .wrapper .team-cards .swiper-slide {
        background-color: white;
        width: auto !important;
        height: 370px;
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 1px #edeef4;
        position: relative;
        transition: all 0.4s ease;
    }

}

@media (min-width: 1200px) and (max-width: 2400px) {
    .banner-heading {
        font-size: 50px;
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper .card .text {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        transform: translateY(114px);
        transition: all 0.3s ease;
    }

    .wrapper .team-cards .swiper-slide {
        background-color: white;
        width: auto !important;
        height: 464px;
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 1px #edeef4;
        position: relative;
        transition: all 0.4s ease;
    }

    .sec-a:before {
        width: 288px;
        height: 215px;
        right: 12px;
    }

    .banner-heading {
        font-size: 50px;
        position: relative;
    }

    .overlay {
        position: fixed;
        top: 110px;
        right: 59px;
    }

    a.menu-btn {
        position: fixed;
        top: 110px;
        right: 62px;
    }

    .sec-l:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/30.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 240px;
        height: 224px;
        left: 3px;
        bottom: 47px;
        opacity: 0.2;
    }

    .sec-t:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/15.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 240px;
        height: 250px;
        right: 0px;
        bottom: 27px;
        opacity: 0.2;
    }

    .sec-aa:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/40.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 283px;
        height: 250px;
        left: 0px;
        bottom: 5px;
        opacity: 0.2;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (max-width: 767px) {
    .sec-gallery {
        padding: 50px 0px 50px 0px !important;
    }

    .padd-top {
        padding-top: 0px;
    }

    ul.list.list-unstyled {
        margin: 20px 0px 30px 0px;
    }

    img.img-fluid.f-logo {
        margin-bottom: 30px;
    }

    footer.footer {
        text-align: center;
    }

    .sec-tas p {
        font-size: 25px;
        color: #fff;
    }

    .sec-tas h2 {
        font-weight: 800;
        font-size: 35px;
        color: #fff;
    }

    .sec-tas {
        padding: 150px 0px;
        background: url(../../assets/img/circle.svg) top 20% left 15%, url(../../assets/img/react.svg) top 20px right, url(../../assets/img/react.svg) bottom 50px left;
        background-repeat: no-repeat;
        background-size: 27px;
    }

    .form-content {
        font-weight: 800;
        font-size: 20px;
        color: #fff;
    }

    .title-form {
        width: 64%;
        margin: auto;
    }

    h2.form-heading {
        font-size: 44px;
    }

    .sec-form {
        padding: 0px 0px;
    }

    .overlay {
        display: none;
    }

    .sec-aa:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/40.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 200px;
        height: 150px;
        left: 0px;
        bottom: 30px;
        opacity: 0.2;
    }

    .sec-t:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/15.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 200px;
        height: 150px;
        right: 0px;
        bottom: 35px;
        opacity: 0.2;
    }

    .sec-l:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/30.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 200px;
        height: 140px;
        left: 0px;
        bottom: 35px;
        opacity: 0.2;
    }

    .order-change {
        order: 2;
    }

    .text-img.content {
        margin: 50px 20px;
    }

    .text-img.content p {
        font-size: 13px;
        font-weight: 400;
    }

    .sec-a:before {
        content: "";
        position: absolute;
        background: url(../../assets/img/15.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 192px;
        height: 148px;
        right: 0px;
        bottom: 27px;
        opacity: 0.2;
    }

    .sec-banner:before {
        left: 50.5%;
    }

    .sec-banner:after {
        left: 50.5%;
    }

    a.btn-arrow {
        position: absolute;
        bottom: 20px;
    }

    section.sec-banner.py-4 {
        padding-bottom: 176px !important;
    }

    h1.banner-heading {
        width: 80%;
        margin: auto;
        display: block;
        font-size: 52px;
    }

    .banner-tag {
        font-size: 20px;
        /* text-align: center; */
    }

    .social-icon {
        margin-right: 5px;
    }

    .logo {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }
}

@media (min-width: 320px) and (max-width: 480px) {}